<div class="fork-me" style="height:50px; background-color:#4FAEDC;">
  <a href="https://www.ga4gh.org/" class="fork-me-link">
    Global Alliance for Genomics & Health
  </a>
  <div class="fork-me-text">
    {{!-- <a href="https://github.com/ory/kratos-selfservice-ui-node" class="fork-me-link">
      Fork this app on
      <img class="fork-me-fork" alt="Fork me on GitHub" src="repo-forked.png" />
      GitHub to customize it!
    </a> --}}
  </div>
</div>
