<div class="fork-me" style="height:50px; background-color:#8dc53f;">
  <a href="https://github.com/ga4gh-duri/ga4gh-duri.github.io/blob/master/researcher_ids/ga4gh_passport_v1.md#passport" class="fork-me-link">
    GA4GH Passports
  </a>
  <div class="fork-me-text">
    {{!-- <a href="https://github.com/ory/kratos-selfservice-ui-node" class="fork-me-link">
      Fork this app on
      <img class="fork-me-fork" alt="Fork me on GitHub" src="repo-forked.png" />
      GitHub to customize it!
    </a> --}}
  </div>
</div>
