<html>
    
    <head>
        <div class="header" img>
            <img src="./lib/public/ga4gh-logo.png" alt="login" />
        </div>
        <div>
            <h1>
                You have reached the User Login & Consent Flow reference implementation!
            </h1>

            <h2>
                GA4GH Passports Edition [EJS]
            </h2>
        </div>
    </head> 

    <body>
        <p>
            This application will give you an idea of how you could implement the login and consent endpoints yourself. \
            Keep in mind, that this application does not actually solve user login, it has only one user for testing.
        </p>
    </body>    
    
</html>