.header
{
  display: flex;
}

.header img 
{
    width: 100px;
    height: 100px;
    background: #555;
}
  
.header h1
{
    margin: 0;
}

table, tr, td
{
  margin:0px;
  padding:0px;
}

input[name="submit"]
{
  margin-top: 0px;
  padding: 5px;
}