<!DOCTYPE html>
<html lang="en">

    <head>
        <div class="header" img>
            <img src="../../public/hydra/ga4gh-logo.png" alt="login">
        </div>
        <div>
            <h1 id="login-title">
                GA4GH Passports [EJS]
            </h1>
        </div>
    </head> 

    <body>
        <h2>
            Please login below
        </h2>
        <form action= "<%= action %>" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="challenge" value="<%= challenge %>">
            <table>
                <tr>
                    <td>
                        <label for="email"> Email: </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="email" id="email" name="email" value="<%= hint %>" placeholder="foo@ga4gh.org">
                    </td>
                    <td>
                        <p>
                            (it's "foo@ga4gh.org")
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password"> Password: </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="password" id="password" name="password">
                    </td>
                    <td>
                        <p>
                            (it's "foobar")
                        </p>
                    </td>
                </tr>
            </table>
            <input type="checkbox" id="remember" name="remember" value="1">
            <label for="remember"> Remember me </label>
            <br>
            <p>
                <input type="submit" id="accept" name="submit" value="Log in">
            </p>
            <p>
                <input type="submit" id="reject" name="submit" value="Deny access">
            </p>
        </form>
    </body>

</html>