<!DOCTYPE html>
<html lang="en">

    <head>
        <div class="header" img>
            <img src="./lib/public/ga4gh-logo.png" alt="login">
        </div>
        <div>
            <h1 id="login-title">
                GA4GH Passports Logout [EJS]
            </h1>
        </div>
    </head> 

    <body>
        <h2>
            Do you wish to logout?
        </h2>
        <form action= "<%= action %>" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="challenge" value="<%= challenge %>">
            
            <p>
                <input type="submit" id="accept" value="Yes">
            </p>
            <p>
                <input type="submit" id="reject" value="No">
            </p>
        </form>
    </body>

</html>